source https://api.nuget.org/v3/index.json
storage: None
framework: netstandard2.0, net6.0, net7.0
nuget DEdge.Diffract
nuget FSharp.Core >= 6.0 lowest_matching: true
nuget FsCheck.Xunit 
nuget Microsoft.NET.Test.Sdk
nuget Xunit 
nuget xunit.runner.visualstudio
